includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - app
        - database/factories
        - database/seeders
        - routes
    ignoreErrors:
        # Ignore errors from Laravel Cashier Connect package (external dependency)
        - '#Lanos\\CashierConnect\\Models\\StripeAccountMapping#'
